In [ ]:
introduction to list datatype :

In [ ]:
defination : A list is a collection of items declared in a particular order.

classification : it is classified as a mutable datatype
    
how to declare the list datatype.......? []

In [1]:
students = ['ravi', 'divya', 'sadiya', 'naveen', 'ahmed', 'suresh'] # 0, 1, 2, 3, 4, 5

In [2]:
print(students)

['ravi', 'divya', 'sadiya', 'naveen', 'ahmed', 'suresh']

In [3]:
type(students)

list

In [ ]:
introduction to indexing : 0,1,2,3,4.......

In [ ]:
# req : i want to get the divya's name in the out put...?

In [4]:
print(students[1])

divya

In [ ]:
# ahmed name...?

In [5]:
print(students[4])

ahmed

In [6]:
print(students[4].title())

Ahmed

In [7]:
print(students)

['ravi', 'divya', 'sadiya', 'naveen', 'ahmed', 'suresh']

In [ ]:
1. how to add new students (elements) to the list......?

2. how to modify the students in the list....?

3. how to delete the students in the list.....?

In [ ]:
# req : i want to add anand to the above list...?

In [8]:
students.append('anand')

In [9]:
print(students)

['ravi', 'divya', 'sadiya', 'naveen', 'ahmed', 'suresh', 'anand']

In [ ]:
# req : swathi

In [10]:
students.append('swathi')

In [11]:
print(students)

['ravi', 'divya', 'sadiya', 'naveen', 'ahmed', 'suresh', 'anand', 'swathi']

In [ ]:
# req : deepa ----> 2nd index

In [12]:
students.insert(2, 'deepa')

In [13]:
print(students)

['ravi', 'divya', 'deepa', 'sadiya', 'naveen', 'ahmed', 'suresh', 'anand', 'swathi']

In [14]:
print(students[2].title())

Deepa

In [ ]:
interview question : can you plz expalain waht is the diff btw append and insert methods in the list datatype..?

In [15]:
print(students)

['ravi', 'divya', 'deepa', 'sadiya', 'naveen', 'ahmed', 'suresh', 'anand', 'swathi']

In [ ]:
# req : i want to modify ravi name with raju....?

In [16]:
students[0] = 'raju'

In [17]:
print(students)

['raju', 'divya', 'deepa', 'sadiya', 'naveen', 'ahmed', 'suresh', 'anand', 'swathi']

In [19]:
del students[4]

In [20]:
print(students)

['raju', 'divya', 'deepa', 'sadiya', 'ahmed', 'suresh', 'anand', 'swathi']

In [ ]:
pop -----> by default it will be deleting the last element from the list and will be saving in the variable assigned.

In [21]:
print(students)

['raju', 'divya', 'deepa', 'sadiya', 'ahmed', 'suresh', 'anand', 'swathi']

In [22]:
x = students.pop()

In [23]:
print(students)

['raju', 'divya', 'deepa', 'sadiya', 'ahmed', 'suresh', 'anand']

In [24]:
print(x)

swathi

In [ ]:
interview question : what is the diff btw delete and pop methods in the list datatype?

In [ ]:
0, 1, 2, 3.......

In [ ]:
introduction to negative indexing : -1, -2, -3 ..... : reverse indexing.

In [25]:
print(students)

['raju', 'divya', 'deepa', 'sadiya', 'ahmed', 'suresh', 'anand']

In [26]:
print(students[-1])

anand

In [27]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!