In [ ]:
understanding the variables in python:

In [1]:
x = 5
y = 2
z = x + y
print (z)

7

In [ ]:
Rules for declaring the variables in python:

In [ ]:
Rule 1 : No Namespace while declaring the variable in python

In [5]:
first name = 'Athar'

print(first name)

SyntaxError: invalid syntax (3626460174.py, line 1)

In [6]:
firstname = 'Athar'

print(firstname)

Athar

In [7]:
first_name = 'Athar'

print(first_name)

Athar

In [ ]:
Rule 2 : A variable name should not start with the number **

In [8]:
1name = 'rahul'

print(1name)

SyntaxError: invalid syntax (1174165138.py, line 1)

In [10]:
name1 = 'rahul'

print(name1)

rahul

In [ ]:
Rule 3 : A variable name should not contain with special characters

In [ ]:
@ # $ % ^ &

In [11]:
name@ = 'divya'

print(name@)

SyntaxError: invalid syntax (1105733249.py, line 1)

In [ ]:
introduction to data types in python : 
    
    1. strings ======> str
    
    2. lists ========> list
    
    3. Numbers ------> integers ( int ) and float(decimals)
    
    4. tules ======> tuple 
    
    5. Dictionaries ========> dict

In [ ]:
classification of datatypes : 
    
    Broadly datatypes  are classified in to two categories : 
        
        1. mutable datatypes -------> which we can edit or alter -----> flexible in nature
        
        2. immutable datatypes ------> which we cannot edit or alter ------> fixed in nature.

In [ ]:
introduction to sring datatype :
    
    defination : A string is series of characters declared in quotes.
    
    classification : it is classified as an immutable datatype.
        
    how to declare the string datatypes---------?
    
    2 approaches
    
    1. single quote
    
    2. double quote

In [12]:
name = 'john'  # single quote

print(name)

john

In [13]:
name2 = "peter"  # double quotes

print(name2)

peter

In [ ]:
introduction to string methods :

In [ ]:
methods are nothing but builtin programs that are available in python to use directly.

In [14]:
type(name)

str

In [15]:
type(name2)

str

In [16]:
fullname = 'mohammad athar'

print(fullname)

mohammad athar

In [ ]:
# req : to get in the right format

In [18]:
print(fullname.title())

Mohammad Athar

In [ ]:
# re : to get the name in capital letters

In [17]:
print(fullname.upper())

MOHAMMAD ATHAR

In [ ]:
# req : to get the name in small letters

In [19]:
print(fullname.lower())

mohammad athar